@media screen and (min-width: 769px) {

    .head-logo-nav {
        display: grid;
        justify-content: space-between;
        margin: 40px 100px 49px;
    }

    .logo-container {
        margin: 0;
    }
}

.head-logo-nav {
    display: grid;
    justify-content: space-between;
    margin: 40px 100px 49px;
}

.logo-container {
    margin: 0;
}

.logo {
    width: 144px;
}



.head-logo-nav {
    display: grid;
    margin: 5%;
}